html, body {
    text-align: center;
    font-family: monospace;
    margin: 0;
    padding: 0;
}

@media (max-width: 550px) {
    .calculator {
        height: 99vh !important;
        width: 100vh !important;
        font-size: 30px;
    }
}

.calculator {
    border-radius: 6px;
    border-color: black;
    font-size: 40px;
    height: 535px;
    width: 420px;
    background: rgb(36, 34, 34);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "screen screen screen screen" "clear backspace pm divide" "seven eight nine times" "four five six minus" "one two three plus" "zero zero decimal equals";
    gap: 3px;
    padding: 4px;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
    background: rgba(169, 230, 219, 0.5);
}

.screen {
    font-size: 50px;
    grid-area: screen;
    background: rgb(189, 196, 194);
    justify-content: flex-end !important;
    text-shadow: 1.3px 1.3px #383838;
    margin-bottom: 3px;
    margin-top: 2px;
}

#calcElement {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

[value="="] {
    grid-area: equals;
}

[value="+"] {
    grid-area: plus;
}

[value="-"] {
    grid-area: minus;
}

[value="*"] {
    grid-area: times;
}

[value="/"] {
    grid-area: divide;
}

[value="pm"] {
    grid-area: pm;
    background: rgba(93, 206, 172, 1);
}

[value="backspace"] {
    grid-area: backspace;
    background: rgba(93, 206, 172, 1);
    ;
}

[value="clear"] {
    grid-area: clear;
    background: rgba(93, 206, 172, 1);
    ;
}

[value="decimal"] {
    grid-area: decimal;
}

[value="0"] {
    grid-area: zero;
}

[value="1"] {
    grid-area: one;
}

[value="2"] {
    grid-area: two;
}

[value="3"] {
    grid-area: three;
}

[value="4"] {
    grid-area: four;
}

[value="5"] {
    grid-area: five;
}

[value="6"] {
    grid-area: six;
}

[value="7"] {
    grid-area: seven;
}

[value="8"] {
    grid-area: eight;
}

[value="9"] {
    grid-area: nine;
}

[data-type="num"] {
    background: rgba(13, 212, 73, 0.952);
}

.operator {
    background: rgb(58, 165, 228);
}

.operand:hover, .operator:hover {
    opacity: 0.8;
    cursor: pointer;
}

.operator:active, .operand:active {
    transform: scale(0.96);
    transition: transform 0.04s;
}